<header>
  <div class="jumbotron blog-header">
    <div class="container">
      <h1 class="blog-title">milo noir</h1>
    </div>
  </div>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.t[page.lang].home.url }}">{{ site.t[page.lang].home.name }}</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.t[page.lang].projects.url }}">{{ site.t[page.lang].projects.name }}</a></li>
          <li><a href="{{ site.t[page.lang].about.url }}">{{ site.t[page.lang].about.name }}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %}
            <li>
              <a href="{{ post.url }}" class="{{ post.lang }} {% if post.lang == page.lang %}active{% endif %}">{{ post.lang }}</a>
            </li>
          {% endfor %}

          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
            <li>
              <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </nav>

</header>
