<div class="sidebar-module sidebar-module-inset">
  <h4>{{ site.t[page.lang].intro }}</h4>
  <p>{{ site.t[page.lang].intro_desc }}</p>
</div>

<div class="sidebar-module">
  <h4>{{ site.t[page.lang].links }}</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/milonoir">GitHub</a></li>
    <li><a href="https://stackoverflow.com/users/645169/milo">StackOverflow</a></li>
    <li><a href="https://twitter.com/milonoir">Twitter</a></li>
    <li><a href="https://www.facebook.com/milan.boleradszki">Facebook</a></li>
    <li><a href="https://soundcloud.com/milo-noir">SoundCloud</a></li>
  </ol>
</div>
